HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
uploads/

# 排除所有测试代码及资源
**/src/test/

# 排除所有环境敏感的配置文件（递归匹配所有子目录）
**/application.yml
# 排除所有环境特定的配置文件
**/application-*.yml

# 显式允许追踪模版文件
!**/application.yml.example

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/**/.nb-gradle/
**/build/

### VS Code ###
.vscode/
