HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
uploads/

# 排除所有测试代码及资源
**/src/test/

# 递归排除所有 application.yml
**/application.yml

# 递归排除所有环境特定的配置文件 (如 application-dev.yml, application-prod.yml)
**/application-*.yml

# 显式保留例外规则：允许追踪以 .example 结尾的模版文件
!**/application.yml.example
!**/application-*.yml.example

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/**/.nb-gradle/
**/build/

### VS Code ###
.vscode/
